<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PDFtoImage" version="5.2.1" manuallyInstalled="true" />
  <package id="SkiaSharp" version="3.119.2" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="3.119.2" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.2" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.2" />
  <package id="bblanchon.PDFium.Linux" version="147.0.7690" />
  <package id="bblanchon.PDFium.Win32" version="147.0.7690" />
  <package id="bblanchon.PDFium.macOS" version="147.0.7690" />
</packages>