:root {
}

.BackgroundColor {
    background-color: rgb(25, 0, 40);
}

.Button_BackgroundColor {
    background-color: rgb(0, 0, 205);
}

.Button_BorderColor {
    border-left-color: rgb(0, 0, 128);
    border-right-color: rgb(0, 0, 128);
    border-top-color: rgb(0, 0, 128);
    border-bottom-color: rgb(0, 0, 128);
}

.ButtonSelected {
    border-left-color: rgb(0, 255, 0);
    border-right-color: rgb(0, 255, 0);
    border-top-color: rgb(0, 255, 0);
    border-bottom-color: rgb(0, 255, 0);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.PDFSelected {
    border-left-color: rgb(0, 255, 0);
    border-right-color: rgb(0, 255, 0);
    border-top-color: rgb(0, 255, 0);
    border-bottom-color: rgb(0, 255, 0);
}

.PDFNotSelected {
    border-left-color: rgb(150, 150, 150);
    border-right-color: rgb(150, 150, 150);
    border-top-color: rgb(150, 150, 150);
    border-bottom-color: rgb(150, 150, 150);
}

.Option_TemplateContainer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: 1px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-left-color: rgb(174, 150, 125);
    border-right-color: rgb(174, 150, 125);
    border-top-color: rgb(174, 150, 125);
    border-bottom-color: rgb(174, 150, 125);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 100%;
    flex-direction: row;
}
